{% extends '_base.html' %}

{% load static %}

{% block header_css %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/css/main.css' %}" />
{% endblock %}
{% block page %}
{% csrf_token %}
<div class="container-fluid full-page" id="cameraPopup">
    <div class="absolute-center text-center text-white" style="height:100px; width: 100%;">
        <i class="fas fa-camera fa-7x"></i> <br>
        <h2>Please grant access to camera to start!</h2>
    </div>
</div>
<div class="container-fluid full-page" id="cameraInitialisePopup">
    <div class="absolute-center text-center text-white" style="height:100px; width: 100%;">
        <i class="fas fa-camera fa-7x"></i> <br>
        <h2>Initialising...</h2>
    </div>
</div>
<div class="container-fluid full-page" id="main">
    <!-- Terminal -->
    <div id="terminal">
        <strong>></strong> <span class="terminal-text" id="terminalttx"></span>
    </div>
    <!-- Left Menu -->
    <div id="leftmenu">

        <div id="date_time">
            <div id="date" class="semi_arc e4">
                <div class="semi_arc_2 e4_1">
                    <div class="counterspin4"></div>
                </div>
                <div style="font-size: 40px; margin-top: 25px;" id="date_num">04</div>
                <div style="font-size: 25px;" id="month">January</div>
            </div>

            <div id="time" class="arc e1">
                <div style="font-size: 23px; margin-left: -10px; margin-top: 23px;" id="time_num">23:41</div>
                <div style="font-size: 15px; margin-left: 40px; margin-top: -30px; display; inline;" id="second">31</div>
                <div style="font-size: 17px; margin-top: 10px;" id="day">Tuesday</div>
            </div>
        </div>

        <p class="title">NAMASTE V1</p>
        <div class="hline title_underline"></div>

        <span class="menuitem entypo-gauge" style="font-size: 30px; margin-left: 10px;">
            <p id="cpu" class="caption" style="font-size: 20px;">Hello <span class="user_name">Sir</span></p>
        </span> <br />

        <span class="menuitem entypo-chart-area" style="font-size: 30px; margin-left: 10px;">
            <p id="ram" class="caption" style="font-size: 20px;">You seem <span class="current_mood">Detecting</span></p>
        </span> <br />

        <span class="menuitem entypo-chart-pie" style="font-size: 30px; margin-left: 10px;">
            <p id="proc" class="caption" style="font-size: 20px;">Health Score: <span class="current_mood_score"></span></p>
        </span>

        <p class="title">My Preferences</p>
        <div class="hline title_underline"></div>

        <div class="menu">
            <button class="menuitem my-category" data-category="technology"> <span class="entypo-right-open" />
                <p class="caption">Technology</p>
            </button>
            <button class="menuitem my-category" data-category="business"> <span class="entypo-right-open" />
                <p class="caption">Business</p>
            </button>
            <button class="menuitem my-category" data-category="music"> <span class="entypo-right-open" />
                <p class="caption">Entertainment</p>
            </button>
            <button class="menuitem my-category" data-category="general"> <span class="entypo-right-open" />
                <p class="caption">General</p>
            </button>

            <hr style="border-color: transparent; margin: 0;" />
            <div class="hline" style="margin-top: 5px; margin-bottom: 5px;"></div>

            <!-- <button class="menuitem"> <span class="entypo-right-open" />
                <p class="caption">Custom Path 1</p>
            </button>
            <button class="menuitem"> <span class="entypo-right-open" />
                <p class="caption">Custom Path 2</p>
            </button>
            <button class="menuitem"> <span class="entypo-right-open" />
                <p class="caption">Custom Path 3</p>
            </button> -->
        </div>

        <!-- <p class="title">Social</p>
        <div class="hline title_underline"></div>

        <div class="app_icon entypo-facebook-squared"></div>
        <div class="app_icon entypo-twitter"></div>
        <div class="app_icon entypo-gplus"></div>
        <div class="app_icon entypo-skype"></div>

        <div class="app_icon entypo-tumblr"></div>
        <div class="app_icon entypo-pinterest"></div>
        <div class="app_icon entypo-soundcloud"></div>
        <div class="app_icon entypo-stumbleupon"></div> -->

    </div>

    <!-- Right Menu -->
    <div id="rightmenu">
        <p class="title" style="text-align: left; margin-left: 10px;">My Feed <span id="feed-loader"><i class="fas fa-spin fa-circle-notch"></i></span></p>
        <div id="particle10" class="hline"></div>
        <div id="particle11" class="hline"></div>
        <div id="particle12" class="vline"></div>
        <div id="note_input" class="container-fluid">
            <!-- <div class="feed row align-items-center">
                <div class="col-4">
                    <img src="https://i1.ytimg.com/vi/YpkJO_GrCo0/hqdefault.jpg" class="img-fluid">
                </div>
                <div class="col-8">
                    <a class="title text-left" href="#"></a>
                </div>
            </div> -->
        </div>
        <p class="title" style="text-align: left; margin-left: 10px;">My Music <span id="music_loader"><i class="fas fa-spin fa-circle-notch"></i></span></p>
        <div id="particle10" class="hline"></div>
        <div id="particle11" class="hline"></div>
        <div id="particle12" class="vline"></div>
        <div id="music_feed" class="container-fluid" style="height:30vh;"></div>
    </div>

    <!-- Arc Reactor -->
    <div id="arc_container">
        <div class="arc_reactor">
            <div class="case_container">
                <div class="e7">
                    <div class="semi_arc_3 e5_1">
                        <div class="semi_arc_3 e5_2">
                            <div class="semi_arc_3 e5_3">
                                <div class="semi_arc_3 e5_4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="core2"></div>
                </div>
                <ul class="marks">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="arc_input">
            <input type="text" class="arc_input_input w-100" id="commandbox" placeholder="Let's talk!"/>
        </div>
    </div>

    <!-- Particles -->
    <!-- Left Menu Particles -->
    <canvas id="particle1" width="20" height="500"></canvas>
    <script>
        var canvas = document.getElementById('particle1');
        var context = canvas.getContext('2d');

        context.beginPath();
        context.moveTo(0, 0);
        context.lineTo(0, 70);
        context.lineTo(10, 85);
        context.lineTo(10, 135);
        context.lineTo(0, 150);
        context.lineTo(0, 480);
        context.lineTo(5, 490);
        context.lineTo(10, 490);
        context.lineTo(20, 490);
        context.lineTo(20, 250);
        context.lineTo(10, 235);
        context.lineTo(10, 185);
        context.lineTo(20, 170);
        context.lineTo(20, 40);
        context.lineTo(10, 30);
        context.lineTo(10, 20);

        context.closePath();
        context.lineWidth = 1;
        context.fillStyle = 'rgba(2,254,255,0.3)';
        context.fill();
        context.strokeStyle = 'transparent';
        context.stroke();
    </script>

    <canvas id="particle1_1" width="40" height="510"></canvas>
    <script>
        var canvas = document.getElementById('particle1_1');
        var context = canvas.getContext('2d');

        context.beginPath();
        context.lineTo(0, 0);
        context.lineTo(10, 15);
        context.lineTo(10, 65);
        context.lineTo(0, 80);
        context.lineTo(0, 0);

        context.closePath();
        context.lineWidth = 1;
        context.fillStyle = 'rgba(2,254,255,0.3)';
        context.fill();
        context.strokeStyle = 'transparent';
        context.stroke();
    </script>

    <canvas id="particle1_2" width="40" height="510"></canvas>
    <script>
        var canvas = document.getElementById('particle1_2');
        var context = canvas.getContext('2d');

        context.beginPath();
        context.lineTo(10, 80);
        context.lineTo(0, 65);
        context.lineTo(0, 15);
        context.lineTo(10, 0);
        context.lineTo(10, 80);

        context.closePath();
        context.lineWidth = 1;
        context.fillStyle = 'rgba(2,254,255,0.3)';
        context.fill();
        context.strokeStyle = 'transparent';
        context.stroke();
    </script>

    <div id="particle1_3">
        > > > >
    </div>

    <div id="particle2">▶<br />▶<br />▶</div>
    <div id="particle3" class="vline" />
    <div id="particle4" class="vline" />
    <div id="particle5" class="vline" />
    <div id="particle6" class="vline" />
    <div id="particle7" class="vline" />
    <div id="particle8" class="vline" />
    <div id="particle9" class="vline" />
</div>

    <canvas id="canvas" style="display: none;">
    </canvas>
    <div id="capturedFrames" style="display: none;">
    </div>
    <video id="video" class="display:none;">Camera Feed Initializing</video>
    <!-- <div class="container-fluid" id="faceDetector"> -->
<!-- <div class="alert alert-info" id="mainAlert"></div> -->
<!-- <div class="absolute-center">
            <div class="avatar mx-auto my-3">
                <img src="{% static 'portal/images/avatar.png' %}" id="avatar"/>
                <video id="video">Camera Feed Initializing</video>
            </div>
            <div class="alert alert-info" id="mainAlert"></div>
            <div class="progress" id="imageProgress">
                <div class="progress-bar" style="width:0%"></div>
            </div>
        </div>
    </div> -->
{% endblock %}
{% block footer_js %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<!-- <script src="https://sdk.scdn.co/spotify-player.js"></script> -->
<script>
var api_endpoints = {
    "detect_mood": "{% url 'api:detect-mood' %}",
    "get-logged-in-user": "{%  url 'api:get-logged-in-user' %}",
    "get-news": "{% url 'api:get-news' %}",
    "save-user-preference": "{% url 'api:save-user-preference' %}",
    "get-user-preference": "{% url 'api:get-user-preference' %}",
    "get-youtube-videos": "{% url 'api:get-from-youtube' %}",
    'spotify': "{% url 'api:get-spotify' %}"
}
</script>
<script src="{% static 'portal/js/main.js' %}"></script>
{% endblock %}